@font-face {
  font-family: 'Norse-Bold';
  src: url('./fonts/Norse-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
:where(*::before, *::after) {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  display: flex;
  background-color: #111;
  color: aliceblue;
  height: 100vh;
}

.leftSection {
  width: 35%;
  background-image: url('dandandan.jpg');
  background-size: cover;
  position: relative;
}

.rightSection {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.2rem;
}

.odinBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  margin-top: 24rem;
  background-color: #111111ce;
  padding: 3.2rem 0;
}

img {
  height: 12rem;
}

.odinBanner h1 {
  font-family: 'Norse-Bold', sans-serif;
  display: inline-block;
  font-size: 9.6rem;
  height: 12rem;
}

.imgCredit {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 1.2rem;
  font-size: 1.4rem;
}



input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
